examples/attributes.json
[
    {
        "id": "e2261397a5517b98",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7ded7fa9f47c686",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "replace",
        "entityId": "E",
        "entityType": "",
        "keyValues": "true",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "73460fd5fd5c5997",
        "type": "NGSI Entity",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "attrs": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "e9f9c8ed1938a1fd",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Get entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "73460fd5fd5c5997"
            ]
        ]
    },
    {
        "id": "78606b86f0e28a5f",
        "type": "debug",
        "z": "e2261397a5517b98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a5f7237cbb050f5",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Replace attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {} }, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "b7ded7fa9f47c686"
            ]
        ]
    },
    {
        "id": "9ccc41a8ae4980c3",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Append attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": {\"type\": \"Number\", \"value\": 17, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "b2871f367df180a1"
            ]
        ]
    },
    {
        "id": "b2871f367df180a1",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "append",
        "entityId": "E",
        "entityType": "",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "64e46f14984ce627",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\"}",
        "payloadType": "json",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "4faf6dc43b05beb7"
            ]
        ]
    },
    {
        "id": "e9ec39dda3b304c8",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\"}",
        "payloadType": "json",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "963e3651e1a06991"
            ]
        ]
    },
    {
        "id": "5fe9949b2c4a33bd",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "E",
        "entityType": "",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "9ebf76d6dd7c6188",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "upsert",
        "entityId": "E",
        "entityType": "",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "9b8fbd7740d180cc",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Update attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": {\"type\": \"Number\", \"value\": 20, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "5fe9949b2c4a33bd"
            ]
        ]
    },
    {
        "id": "f0ad1ab8047aa34e",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Upsert attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {} }, \"humidity\": {\"type\": \"Number\", \"value\": 42.9, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "9ebf76d6dd7c6188"
            ]
        ]
    },
    {
        "id": "d819b104655a2b8a",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E2",
        "entityType": "",
        "keyValues": "true",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "890f49f4f9e8b387",
        "type": "NGSI Entity",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "attrs": "",
        "x": 410,
        "y": 640,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "35c03ee11e374d26",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Get entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E2",
        "payloadType": "str",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "890f49f4f9e8b387"
            ]
        ]
    },
    {
        "id": "53fd0e71e82c0278",
        "type": "debug",
        "z": "e2261397a5517b98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "72fab0c430368147",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Replace attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"replace\", \"id\": \"E2\", \"attributes\": {\"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {} }, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}}",
        "payloadType": "json",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "d819b104655a2b8a"
            ]
        ]
    },
    {
        "id": "8f9695a67f9efb0b",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Append attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"append\", \"id\": \"E2\", \"attributes\": {\"temperature\": {\"type\": \"Number\", \"value\": 17, \"metadata\": {} }}}",
        "payloadType": "json",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "4b06b676508d87e6"
            ]
        ]
    },
    {
        "id": "4b06b676508d87e6",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E2",
        "entityType": "",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "ecdc0e2623090c76",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E2\"}",
        "payloadType": "json",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "26ca731c9d208c6d"
            ]
        ]
    },
    {
        "id": "4f06c978b66055a0",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E2\", \"type\": \"T\"}",
        "payloadType": "json",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "7cd05c2e53e54b94"
            ]
        ]
    },
    {
        "id": "6a8091e14e2db30e",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E2",
        "entityType": "",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 760,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "633cb239197d4d09",
        "type": "NGSI Attributes",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E2",
        "entityType": "",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "6bbdd267b7b7e2cd",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Update attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E2\", \"attributes\": {\"temperature\": {\"type\": \"Number\", \"value\": 20, \"metadata\": {} }}}",
        "payloadType": "json",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "6a8091e14e2db30e"
            ]
        ]
    },
    {
        "id": "0f041d352cc392d4",
        "type": "inject",
        "z": "e2261397a5517b98",
        "name": "Upsert attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"upsert\", \"id\": \"E2\", \"attributes\": {\"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {} }, \"humidity\": {\"type\": \"Number\", \"value\": 42.9, \"metadata\": {} }}}",
        "payloadType": "json",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "633cb239197d4d09"
            ]
        ]
    },
    {
        "id": "963e3651e1a06991",
        "type": "NGSI Entity",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "4faf6dc43b05beb7",
        "type": "NGSI Entity",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "78606b86f0e28a5f"
            ]
        ]
    },
    {
        "id": "7cd05c2e53e54b94",
        "type": "NGSI Entity",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "26ca731c9d208c6d",
        "type": "NGSI Entity",
        "z": "e2261397a5517b98",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 940,
        "wires": [
            [
                "53fd0e71e82c0278"
            ]
        ]
    },
    {
        "id": "8a5400cf6326a10c",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
