examples/attribute.json
[
    {
        "id": "c2a0b759cc32b33c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cde1647f4051ad9",
        "type": "NGSI Entity",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "attrs": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "5456752454812bc2",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Get entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E",
        "payloadType": "str",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "4cde1647f4051ad9"
            ]
        ]
    },
    {
        "id": "2bb7fe7be2dc15d1",
        "type": "debug",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b5d585766c6dfa3",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\"}",
        "payloadType": "json",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "3535791d5bdc9f81"
            ]
        ]
    },
    {
        "id": "e3d424b45dd84a04",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "2b034e5da397b6d6"
            ]
        ]
    },
    {
        "id": "42c23365603c5910",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "E",
        "entityType": "T",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "f63e491f36cb0d83",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Read attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "42c23365603c5910"
            ]
        ]
    },
    {
        "id": "40f42e4c06e7a9d4",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "E",
        "entityType": "T",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "c0940fbec25900a4",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Read attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "40f42e4c06e7a9d4"
            ]
        ]
    },
    {
        "id": "fae006cdf76ae423",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "E",
        "entityType": "T",
        "attrName": "atmosphericPressure",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "2b43a8312dfc8359",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Update attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": \"Number\", \"value\": 1234.5}",
        "payloadType": "json",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "fae006cdf76ae423"
            ]
        ]
    },
    {
        "id": "fad707433f72f380",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "E",
        "entityType": "T",
        "attrName": "",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "8351695ff1ea0f58",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Delete attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "fad707433f72f380"
            ]
        ]
    },
    {
        "id": "8ffaf7020326f2d8",
        "type": "NGSI Entity",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "attrs": "",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "2642e277c727e2c0"
            ]
        ]
    },
    {
        "id": "f7cd47b34c1b5bdc",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Get entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E",
        "payloadType": "str",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "8ffaf7020326f2d8"
            ]
        ]
    },
    {
        "id": "2642e277c727e2c0",
        "type": "debug",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "199e0b1139265b35",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\"}",
        "payloadType": "json",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "fba66391a91383d6"
            ]
        ]
    },
    {
        "id": "349a2a6fdee4f0c8",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "7c7e8f8b7f9decce"
            ]
        ]
    },
    {
        "id": "e163b753e4ac6ced",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "2642e277c727e2c0"
            ]
        ]
    },
    {
        "id": "1a4c78c66ef21f9f",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Read attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"read\", \"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "e163b753e4ac6ced"
            ]
        ]
    },
    {
        "id": "c6c1252075c4612b",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrName": "atmosphericPressure",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 720,
        "wires": [
            [
                "2642e277c727e2c0"
            ]
        ]
    },
    {
        "id": "a0818e33ba34486e",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Update attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"attribute\": {\"type\": \"Number\", \"value\": 1234.5}}",
        "payloadType": "json",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "c6c1252075c4612b"
            ]
        ]
    },
    {
        "id": "a73761de70793eb4",
        "type": "NGSI Attribute",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrName": "",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "2642e277c727e2c0"
            ]
        ]
    },
    {
        "id": "0d6ad2325645837d",
        "type": "inject",
        "z": "c2a0b759cc32b33c",
        "name": "Delete attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"delete\", \"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "a73761de70793eb4"
            ]
        ]
    },
    {
        "id": "2b034e5da397b6d6",
        "type": "NGSI Entity",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "3535791d5bdc9f81",
        "type": "NGSI Entity",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "2bb7fe7be2dc15d1"
            ]
        ]
    },
    {
        "id": "7c7e8f8b7f9decce",
        "type": "NGSI Entity",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "2642e277c727e2c0"
            ]
        ]
    },
    {
        "id": "fba66391a91383d6",
        "type": "NGSI Entity",
        "z": "c2a0b759cc32b33c",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 410,
        "y": 840,
        "wires": [
            [
                "2642e277c727e2c0"
            ]
        ]
    },
    {
        "id": "8a5400cf6326a10c",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
