examples/attribute.json
[
    {
        "id": "b9894ccfa5887dda",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cd5cd313b5ec275",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "mode": "normalized",
        "entitytype": "",
        "attrs": "",
        "datemodified": "false",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "a2bac3e5cb0eb86c",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Get entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E",
        "payloadType": "str",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "3cd5cd313b5ec275"
            ]
        ]
    },
    {
        "id": "eb6e664764b869cb",
        "type": "debug",
        "z": "b9894ccfa5887dda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "12c4748b15f5bc4d",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\"}",
        "payloadType": "json",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "0531bed4419da0f1"
            ]
        ]
    },
    {
        "id": "0531bed4419da0f1",
        "type": "NGSI Entity CRUD",
        "z": "b9894ccfa5887dda",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actiontype": "delete",
        "entityid": "",
        "entitytype": "",
        "mode": "normalized",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "7f6a86408af2b0d4",
        "type": "NGSI Entity CRUD",
        "z": "b9894ccfa5887dda",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actiontype": "create",
        "entityid": "",
        "entitytype": "",
        "mode": "normalized",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "2b1119c9b5d8c9d3",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "7f6a86408af2b0d4"
            ]
        ]
    },
    {
        "id": "4da168cf1c96fd36",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "E",
        "entityType": "T",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "c54c2d1b6cf8ad94",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Read attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "4da168cf1c96fd36"
            ]
        ]
    },
    {
        "id": "8bf85c21bbc6b594",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "E",
        "entityType": "T",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "21acd19587d9f5a3",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Read attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "8bf85c21bbc6b594"
            ]
        ]
    },
    {
        "id": "9bd7d70e4ba7b402",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "E",
        "entityType": "T",
        "attrName": "atmosphericPressure",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "f6d5a0bde14424c8",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Update attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": \"Number\", \"value\": 1234.5}",
        "payloadType": "json",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "9bd7d70e4ba7b402"
            ]
        ]
    },
    {
        "id": "289b3ed9b222ed75",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "E",
        "entityType": "T",
        "attrName": "",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "eb6e664764b869cb"
            ]
        ]
    },
    {
        "id": "cb2b0dc00f497e0a",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Delete attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "289b3ed9b222ed75"
            ]
        ]
    },
    {
        "id": "9e2b7a8f33436ddd",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "mode": "normalized",
        "entitytype": "",
        "attrs": "",
        "datemodified": "false",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "adfa2ce997204be8"
            ]
        ]
    },
    {
        "id": "8689c92b232272b2",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Get entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E",
        "payloadType": "str",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "9e2b7a8f33436ddd"
            ]
        ]
    },
    {
        "id": "adfa2ce997204be8",
        "type": "debug",
        "z": "b9894ccfa5887dda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "144b72f8f48f2fd8",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\"}",
        "payloadType": "json",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "c26adcb5a8504a22"
            ]
        ]
    },
    {
        "id": "c26adcb5a8504a22",
        "type": "NGSI Entity CRUD",
        "z": "b9894ccfa5887dda",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actiontype": "delete",
        "entityid": "",
        "entitytype": "",
        "mode": "normalized",
        "x": 430,
        "y": 840,
        "wires": [
            [
                "adfa2ce997204be8"
            ]
        ]
    },
    {
        "id": "d4a5ddc54e92873d",
        "type": "NGSI Entity CRUD",
        "z": "b9894ccfa5887dda",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actiontype": "create",
        "entityid": "",
        "entitytype": "",
        "mode": "normalized",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "adfa2ce997204be8"
            ]
        ]
    },
    {
        "id": "64a3f80fee246f2e",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "d4a5ddc54e92873d"
            ]
        ]
    },
    {
        "id": "bebf359341b8d027",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrName": "temperature",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 660,
        "wires": [
            [
                "adfa2ce997204be8"
            ]
        ]
    },
    {
        "id": "ce26a68c82a1a3c7",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Read attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"read\", \"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "bebf359341b8d027"
            ]
        ]
    },
    {
        "id": "376168c84f65ad75",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrName": "atmosphericPressure",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 720,
        "wires": [
            [
                "adfa2ce997204be8"
            ]
        ]
    },
    {
        "id": "423edc664a306bab",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Update attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"attribute\": {\"type\": \"Number\", \"value\": 1234.5}}",
        "payloadType": "json",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "376168c84f65ad75"
            ]
        ]
    },
    {
        "id": "2ed2c466ff48220b",
        "type": "NGSI Attribute",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrName": "",
        "metadata": "",
        "skipForwarding": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "adfa2ce997204be8"
            ]
        ]
    },
    {
        "id": "3bd9a1c6697f3dff",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Delete attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"delete\", \"attrName\": \"relativeHumidity\"}",
        "payloadType": "json",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "2ed2c466ff48220b"
            ]
        ]
    },
    {
        "id": "8a5400cf6326a10c",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
