examples/attribute_value.json
[
    {
        "id": "49b801ab6c13addc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "024888435cf406b0",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"E\",\"type\":\"T\",\"test\":{\"type\":\"Test\",\"value\":1,\"metadata\":{}}}",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "84d07fb504efa161"
            ]
        ]
    },
    {
        "id": "935d55d025479fd3",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "9be632ad574f7ebf",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "36b860046ece7283"
            ]
        ]
    },
    {
        "id": "36b860046ece7283",
        "type": "NGSI Attribute value",
        "z": "49b801ab6c13addc",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "E",
        "entityType": "T",
        "attrName": "test",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "28241133d6415887"
            ]
        ]
    },
    {
        "id": "28241133d6415887",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "ff516e8af796225a",
        "type": "NGSI Attribute value",
        "z": "49b801ab6c13addc",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "update",
        "entityId": "E",
        "entityType": "T",
        "attrName": "test",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 480,
        "y": 460,
        "wires": [
            [
                "32a9107b5cf57fa9"
            ]
        ]
    },
    {
        "id": "32a9107b5cf57fa9",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "cee4b7fa1a6c602e",
        "type": "NGSI Entity",
        "z": "49b801ab6c13addc",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "attrs": "",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "28241133d6415887"
            ]
        ]
    },
    {
        "id": "1b3c829cf01cf828",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "E",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "cee4b7fa1a6c602e"
            ]
        ]
    },
    {
        "id": "cd7fbedbb602e0e4",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "null",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ff516e8af796225a"
            ]
        ]
    },
    {
        "id": "814ea5c77eadaaa5",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "ff516e8af796225a"
            ]
        ]
    },
    {
        "id": "2dcd677cd1b4391b",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "123",
        "payloadType": "num",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "ff516e8af796225a"
            ]
        ]
    },
    {
        "id": "0c63db845da35a7d",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "abc",
        "payloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "ff516e8af796225a"
            ]
        ]
    },
    {
        "id": "76aca8ba5f6a4ef4",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"abc\": 123}",
        "payloadType": "json",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "ff516e8af796225a"
            ]
        ]
    },
    {
        "id": "1d32988204519a83",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[123, \"abc\"]",
        "payloadType": "json",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "ff516e8af796225a"
            ]
        ]
    },
    {
        "id": "365ab0b61082f328",
        "type": "NGSI Attribute value",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "",
        "entityType": "",
        "attrName": "",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 480,
        "y": 780,
        "wires": [
            [
                "6bc23be0f7b58f9b"
            ]
        ]
    },
    {
        "id": "6bc23be0f7b58f9b",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "a498386ee004c56d",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "null",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\", \"value\": null}",
        "payloadType": "json",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "365ab0b61082f328"
            ]
        ]
    },
    {
        "id": "fc8ced0ab1d65a4a",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\", \"value\": true}",
        "payloadType": "json",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "365ab0b61082f328"
            ]
        ]
    },
    {
        "id": "1de6d7f5a80da6c0",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "123",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\", \"value\": 123}",
        "payloadType": "json",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "365ab0b61082f328"
            ]
        ]
    },
    {
        "id": "80e439e78e773d08",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "abc",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\", \"value\": \"abc\"}",
        "payloadType": "json",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "365ab0b61082f328"
            ]
        ]
    },
    {
        "id": "b590bd704d7388ef",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "{\"abc\": 123}",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\", \"value\": {\"abc\": 123}}",
        "payloadType": "json",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "365ab0b61082f328"
            ]
        ]
    },
    {
        "id": "7aadb54db7413d06",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "[123, \"abc\"]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\", \"value\": [123, \"abc\"]}",
        "payloadType": "json",
        "x": 190,
        "y": 1080,
        "wires": [
            [
                "365ab0b61082f328"
            ]
        ]
    },
    {
        "id": "3d768e4ab7c83630",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"read\", \"id\": \"E\", \"type\": \"T\", \"attrName\": \"test\"}",
        "payloadType": "json",
        "x": 170,
        "y": 700,
        "wires": [
            [
                "6b5930ae697cb526"
            ]
        ]
    },
    {
        "id": "6b5930ae697cb526",
        "type": "NGSI Attribute value",
        "z": "49b801ab6c13addc",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "",
        "entityType": "",
        "attrName": "",
        "skipForwarding": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 480,
        "y": 700,
        "wires": [
            [
                "b0e2f78818655fc8"
            ]
        ]
    },
    {
        "id": "b0e2f78818655fc8",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "84d07fb504efa161",
        "type": "NGSI Entity",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "935d55d025479fd3"
            ]
        ]
    },
    {
        "id": "3db2d74cec8a4485",
        "type": "NGSI Entity",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "b48e9359d2a2d379"
            ]
        ]
    },
    {
        "id": "df6a8bc5cca686f9",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"E\",\"type\":\"T\"}",
        "payloadType": "json",
        "x": 190,
        "y": 1160,
        "wires": [
            [
                "3db2d74cec8a4485"
            ]
        ]
    },
    {
        "id": "b48e9359d2a2d379",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f416c88d082ae970",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
