examples/batch-update.json
[
    {
        "id": "49b801ab6c13addc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f4bad1a0a547ccb",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "append",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "cbd506295e748b1e",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "appendStrict",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "f8b9bb456213a683",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "update",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "011cfa2651db9a09",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "replace",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "ebb868a58c371f30",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "delete",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "089ecbbf718dbef8",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Append",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } } ]",
        "payloadType": "json",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "0f4bad1a0a547ccb"
            ]
        ]
    },
    {
        "id": "bb890c946238908a",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "AppendStrict",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor003\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor004\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } } ]",
        "payloadType": "json",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "cbd506295e748b1e"
            ]
        ]
    },
    {
        "id": "26250853a41e4a85",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Update",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 30.6, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 30.6, \"metadata\": {} } } ]",
        "payloadType": "json",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "f8b9bb456213a683"
            ]
        ]
    },
    {
        "id": "1871d718c6bcd8ba",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Replace",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } } ]",
        "payloadType": "json",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "011cfa2651db9a09"
            ]
        ]
    },
    {
        "id": "2bde5fbbcf668023",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } } ]",
        "payloadType": "json",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "ebb868a58c371f30"
            ]
        ]
    },
    {
        "id": "7f548a2f5f2d42ed",
        "type": "NGSI source",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "mode": "normalized",
        "entitytype": "",
        "idpattern": "",
        "attrs": "",
        "query": "",
        "buffering": "off",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "74c09cd4b0f16a8a",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "7f548a2f5f2d42ed"
            ]
        ]
    },
    {
        "id": "1de25a86f24eac7b",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "1191940c4c981f96",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete entities",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\"}, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\"}, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor003\"}, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor004\"} ]",
        "payloadType": "json",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "e1b408918da138c8"
            ]
        ]
    },
    {
        "id": "e1b408918da138c8",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "delete",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "1de25a86f24eac7b"
            ]
        ]
    },
    {
        "id": "b7a046146836422c",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "476b6a67b29340a8",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 680,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "f63d6b43066352e6",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "5ed0307125b6dff1",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 800,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "769d122b08956bbe",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 860,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "690ddef763397b80",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Append",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"append\", \"entities\":[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } } ] }",
        "payloadType": "json",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "b7a046146836422c"
            ]
        ]
    },
    {
        "id": "7af5b012c72458bf",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "AppendStrict",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"appendStrict\", \"entities\":[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor003\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor004\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 20.6, \"metadata\": {} } } ] }",
        "payloadType": "json",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "476b6a67b29340a8"
            ]
        ]
    },
    {
        "id": "c4d74193237c4e56",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Update",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"update\", \"entities\":[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 30.6, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"temperature\": { \"type\": \"Number\", \"value\": 30.6, \"metadata\": {} } } ] }",
        "payloadType": "json",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "f63d6b43066352e6"
            ]
        ]
    },
    {
        "id": "35e2967132c597fb",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Replace",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"replace\", \"entities\":[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } } ] }",
        "payloadType": "json",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "5ed0307125b6dff1"
            ]
        ]
    },
    {
        "id": "d367e307d2fd6f23",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"delete\", \"entities\":[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } }, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\", \"type\": \"Sensor\", \"humidity\": { \"type\": \"Number\", \"value\": 31.0, \"metadata\": {} } } ] }",
        "payloadType": "json",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "769d122b08956bbe"
            ]
        ]
    },
    {
        "id": "c43a3b86761333e9",
        "type": "NGSI source",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "mode": "normalized",
        "entitytype": "",
        "idpattern": "",
        "attrs": "",
        "query": "",
        "buffering": "off",
        "x": 450,
        "y": 560,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "333faa6fdc141022",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "c43a3b86761333e9"
            ]
        ]
    },
    {
        "id": "cec8d1e44d4821ea",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "109302cc2c28443a",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete entities",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"delete\", \"entities\":[ { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor001\"}, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor002\"}, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor003\"}, { \"id\": \"urn:ngsi-ld:WeatherObserved:sensor004\"} ] }",
        "payloadType": "json",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "46f0e32817e94c86"
            ]
        ]
    },
    {
        "id": "46f0e32817e94c86",
        "type": "NGSI Batch update",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "keyValues": "false",
        "overrideMetadata": "false",
        "forcedUpdate": "false",
        "flowControl": "false",
        "x": 470,
        "y": 920,
        "wires": [
            [
                "cec8d1e44d4821ea"
            ]
        ]
    },
    {
        "id": "f416c88d082ae970",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
