examples/entity.json
[
    {
        "id": "b9894ccfa5887dda",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fba68ee08b1cc17e",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "create",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "1f93b0460863f941"
            ]
        ]
    },
    {
        "id": "a751a9318bf9a9c0",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "fba68ee08b1cc17e"
            ]
        ]
    },
    {
        "id": "1f93b0460863f941",
        "type": "debug",
        "z": "b9894ccfa5887dda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "646d26e444a61f6e",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "7e87669d68192748"
            ]
        ]
    },
    {
        "id": "7e87669d68192748",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityId": "E",
        "entityType": "T",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "1f93b0460863f941"
            ]
        ]
    },
    {
        "id": "fc08af462ec778e9",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "read",
        "entityId": "E",
        "entityType": "T",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "true",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "1f93b0460863f941"
            ]
        ]
    },
    {
        "id": "da421f7112fd501a",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Read entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "fc08af462ec778e9"
            ]
        ]
    },
    {
        "id": "230676741929d27c",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "upsert",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1f93b0460863f941"
            ]
        ]
    },
    {
        "id": "919d825ed398a1d5",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Upsert entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 29, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 58.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1234.5, \"metadata\": {} }}",
        "payloadType": "json",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "230676741929d27c"
            ]
        ]
    },
    {
        "id": "651da5e28106c5ea",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "ae5476927bd5e50a"
            ]
        ]
    },
    {
        "id": "fc162acbcadf8072",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Create entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"create\", \"entity\": {\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 25, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 45.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1003.5, \"metadata\": {} }}}",
        "payloadType": "json",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "651da5e28106c5ea"
            ]
        ]
    },
    {
        "id": "ae5476927bd5e50a",
        "type": "debug",
        "z": "b9894ccfa5887dda",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "3cc94b1e213a1046",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Delete entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"delete\", \"id\": \"E\", \"type\": \"T\"}",
        "payloadType": "json",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "eb1a7ddf523fadf8"
            ]
        ]
    },
    {
        "id": "eb1a7ddf523fadf8",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "E",
        "entityType": "T",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "ae5476927bd5e50a"
            ]
        ]
    },
    {
        "id": "20f93fbd897b35cd",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "true",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "ae5476927bd5e50a"
            ]
        ]
    },
    {
        "id": "55fd0984542e4608",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Read entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"read\", \"id\": \"E\", \"type\": \"T\"}",
        "payloadType": "json",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "20f93fbd897b35cd"
            ]
        ]
    },
    {
        "id": "e042e677999e3e2f",
        "type": "NGSI Entity",
        "z": "b9894ccfa5887dda",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "payload",
        "entityId": "",
        "entityType": "",
        "attrs": "",
        "keyValues": "false",
        "dateModified": "false",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "ae5476927bd5e50a"
            ]
        ]
    },
    {
        "id": "93999ccf9dfb756d",
        "type": "inject",
        "z": "b9894ccfa5887dda",
        "name": "Upsert entity",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"upsert\", \"entity\": {\"id\": \"E\", \"type\": \"T\", \"temperature\": {\"type\": \"Number\", \"value\": 29, \"metadata\": {\"TimeInstant\": {\"type\": \"DateTime\", \"value\": \"2023-02-10T20:33:53.199Z\"} }}, \"relativeHumidity\": {\"type\": \"Number\", \"value\": 58.0, \"metadata\": {} }, \"atmosphericPressure\": {\"type\": \"Number\", \"value\": 1234.5, \"metadata\": {} }}}",
        "payloadType": "json",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "e042e677999e3e2f"
            ]
        ]
    },
    {
        "id": "8a5400cf6326a10c",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
