examples/registration.json
[
    {
        "id": "49b801ab6c13addc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15b83aee9856b8ed",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Create registration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"description\": \"Relative Humidity Context Source\", \"dataProvided\": { \"entities\": [ { \"id\": \"room\", \"type\": \"Room\" } ], \"attrs\": [ \"relativeHumidity\" ] }, \"provider\": { \"http\":{ \"url\": \"http://orion:1026\" } } }",
        "payloadType": "json",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "2b674265f0629a6a"
            ]
        ]
    },
    {
        "id": "07eac7b3e7ea7690",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b674265f0629a6a",
        "type": "NGSI registration",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "create",
        "registrationId": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "07eac7b3e7ea7690"
            ]
        ]
    },
    {
        "id": "9d2714f2f7e9bf83",
        "type": "NGSI registration",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "delete",
        "registrationId": "",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "07eac7b3e7ea7690"
            ]
        ]
    },
    {
        "id": "df38e3aa1ff86c8c",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete registration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "63ed51173bdeaadaf909c57b",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "9d2714f2f7e9bf83"
            ]
        ]
    },
    {
        "id": "ff4256125920baca",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Create registration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"actionType\": \"create\", \"registration\": { \"description\": \"Relative Humidity Context Source\", \"dataProvided\": { \"entities\": [ { \"id\": \"room\", \"type\": \"Room\" } ], \"attrs\": [ \"relativeHumidity\" ] }, \"provider\": { \"http\":{ \"url\": \"http://orion:1026\" } } } }",
        "payloadType": "json",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "077943c976f20415"
            ]
        ]
    },
    {
        "id": "2303e59445535081",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "077943c976f20415",
        "type": "NGSI registration",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "registrationId": "",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "2303e59445535081"
            ]
        ]
    },
    {
        "id": "d48dd616a762f9eb",
        "type": "NGSI registration",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "registrationId": "",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "2303e59445535081"
            ]
        ]
    },
    {
        "id": "46c6161b40feae8c",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Delete registration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"actionType\": \"delete\", \"id\": \"63ed53123bdeaadaf909c57d\" }",
        "payloadType": "json",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "d48dd616a762f9eb"
            ]
        ]
    },
    {
        "id": "f416c88d082ae970",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
