examples/timeseries.json
[
    {
        "id": "49b801ab6c13addc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6eff35dd98aae590",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Entities",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "bbe7a9458310af50"
            ]
        ]
    },
    {
        "id": "8a2a2d8b5f2d4898",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "QuantumLeap version",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "c55b3b118a7274f6"
            ]
        ]
    },
    {
        "id": "c55b3b118a7274f6",
        "type": "FIWARE version",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "x": 460,
        "y": 60,
        "wires": [
            [
                "2f54b5a4d1d1d597"
            ]
        ]
    },
    {
        "id": "2f54b5a4d1d1d597",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "8f7412b0c83af230",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Entity attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:WeatherObserved:sensor001\", \"attrName\": \"temperature\", \"lastN\": 3}",
        "payloadType": "json",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "988723583e8bbb9d"
            ]
        ]
    },
    {
        "id": "988723583e8bbb9d",
        "type": "NGSI timeseries",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "entity",
        "entityId": "",
        "entityType": "",
        "attribute": "",
        "aggrMethod": "avg",
        "aggrPeriod": "minute",
        "lastN": "",
        "fromDate": "",
        "fromUnit": "ISO8601",
        "toDate": "",
        "toUnit": "ISO8601",
        "georel": "",
        "geometry": "",
        "coords": "",
        "value": "false",
        "limit": "",
        "offset": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "2f54b5a4d1d1d597"
            ]
        ]
    },
    {
        "id": "3282e68ed8511a75",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Entity attribute value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:WeatherObserved:sensor001\", \"attrName\": \"temperature\", \"value\": true, \"lastN\": 3}",
        "payloadType": "json",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "988723583e8bbb9d"
            ]
        ]
    },
    {
        "id": "997691cce3dcf4f5",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Types",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": \"Sensor\", \"lastN\": 3}",
        "payloadType": "json",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "6d84d6549aec6bcd"
            ]
        ]
    },
    {
        "id": "2f872092f0d41b77",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Types attrbute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": \"Sensor\", \"attrName\": \"temperature\",\"lastN\": 3}",
        "payloadType": "json",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "6d84d6549aec6bcd"
            ]
        ]
    },
    {
        "id": "46ef7fcba05852b2",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Types attrbute value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": \"Sensor\", \"attrName\": \"temperature\",\"lastN\": 3, \"value\": true}",
        "payloadType": "json",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "6d84d6549aec6bcd"
            ]
        ]
    },
    {
        "id": "d5c3329a91d01873",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Entity attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:WeatherObserved:sensor001\", \"lastN\": 3}",
        "payloadType": "json",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "988723583e8bbb9d"
            ]
        ]
    },
    {
        "id": "95b6f32bfca8a449",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Entity attributes value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"urn:ngsi-ld:WeatherObserved:sensor001\", \"value\": true, \"lastN\": 3}",
        "payloadType": "json",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "988723583e8bbb9d"
            ]
        ]
    },
    {
        "id": "c31385b87d7fbfdd",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Types",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\": \"Sensor\", \"value\": true, \"lastN\": 3}",
        "payloadType": "json",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "6d84d6549aec6bcd"
            ]
        ]
    },
    {
        "id": "d36f74d5bf9fabc9",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Attributes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lastN\": 3}",
        "payloadType": "json",
        "x": 180,
        "y": 780,
        "wires": [
            [
                "4ea1bb58b2aaf7a6"
            ]
        ]
    },
    {
        "id": "08092a8ce6d8c2ae",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Attributes value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\": true, \"lastN\": 3}",
        "payloadType": "json",
        "x": 200,
        "y": 840,
        "wires": [
            [
                "4ea1bb58b2aaf7a6"
            ]
        ]
    },
    {
        "id": "4ea1bb58b2aaf7a6",
        "type": "NGSI timeseries",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "attribute",
        "entityId": "",
        "entityType": "",
        "attribute": "",
        "aggrMethod": "sum",
        "aggrPeriod": "month",
        "lastN": "",
        "fromDate": "",
        "fromUnit": "ISO8601",
        "toDate": "",
        "toUnit": "ISO8601",
        "georel": "",
        "geometry": "",
        "coords": "",
        "value": "false",
        "limit": "",
        "offset": "",
        "x": 440,
        "y": 780,
        "wires": [
            [
                "2f54b5a4d1d1d597"
            ]
        ]
    },
    {
        "id": "93285da084926d26",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Attribute",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"attrName\": \"temperature\",\"lastN\": 3}",
        "payloadType": "json",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "4ea1bb58b2aaf7a6"
            ]
        ]
    },
    {
        "id": "58f43a4ec35405ba",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "Attribute value",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"attrName\": \"temperature\", \"value\": true, \"lastN\": 3}",
        "payloadType": "json",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "4ea1bb58b2aaf7a6"
            ]
        ]
    },
    {
        "id": "bbe7a9458310af50",
        "type": "NGSI timeseries",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "entities",
        "entityId": "",
        "entityType": "",
        "attribute": "",
        "aggrMethod": "sum",
        "aggrPeriod": "month",
        "lastN": "",
        "fromDate": "",
        "fromUnit": "ISO8601",
        "toDate": "",
        "toUnit": "ISO8601",
        "georel": "",
        "geometry": "",
        "coords": "",
        "value": "false",
        "limit": "",
        "offset": "",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2f54b5a4d1d1d597"
            ]
        ]
    },
    {
        "id": "6d84d6549aec6bcd",
        "type": "NGSI timeseries",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "type",
        "entityId": "",
        "entityType": "",
        "attribute": "",
        "aggrMethod": "sum",
        "aggrPeriod": "month",
        "lastN": "",
        "fromDate": "",
        "fromUnit": "ISO8601",
        "toDate": "",
        "toUnit": "ISO8601",
        "georel": "",
        "geometry": "",
        "coords": "",
        "value": "false",
        "limit": "",
        "offset": "",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "2f54b5a4d1d1d597"
            ]
        ]
    },
    {
        "id": "f416c88d082ae970",
        "type": "Open APIs",
        "name": "Quantumleap",
        "geType": "quantumleap",
        "apiEndpoint": "http://quantumleap:8668",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
