examples/types.json
[
    {
        "id": "49b801ab6c13addc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17645dc57bf9f3ce",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "c09d91df7c9927ba"
            ]
        ]
    },
    {
        "id": "c32bbd4864231bca",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "c09d91df7c9927ba",
        "type": "NGSI Types",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "types",
        "entityType": "",
        "values": "false",
        "noAttrDetail": "false",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "c32bbd4864231bca"
            ]
        ]
    },
    {
        "id": "2041ede574c59415",
        "type": "NGSI Types",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "type",
        "entityType": "",
        "values": "false",
        "noAttrDetail": "false",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "c32bbd4864231bca"
            ]
        ]
    },
    {
        "id": "5a63ae6acdbe42bb",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Sensor",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "2041ede574c59415"
            ]
        ]
    },
    {
        "id": "036beab0f761c501",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "60454a5df6a1afe0"
            ]
        ]
    },
    {
        "id": "60454a5df6a1afe0",
        "type": "NGSI Types",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "type",
        "entityType": "Sensor",
        "values": "false",
        "noAttrDetail": "false",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "c32bbd4864231bca"
            ]
        ]
    },
    {
        "id": "fe6d080be5e6a716",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"types\"}",
        "payloadType": "json",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "4aef3f7c7ac96e11"
            ]
        ]
    },
    {
        "id": "224cbfbdf9cde428",
        "type": "debug",
        "z": "49b801ab6c13addc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "4aef3f7c7ac96e11",
        "type": "NGSI Types",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "entityType": "",
        "values": "false",
        "noAttrDetail": "false",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "224cbfbdf9cde428"
            ]
        ]
    },
    {
        "id": "90104532dd3eeaad",
        "type": "NGSI Types",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "entityType": "",
        "values": "false",
        "noAttrDetail": "false",
        "x": 450,
        "y": 460,
        "wires": [
            [
                "224cbfbdf9cde428"
            ]
        ]
    },
    {
        "id": "0834da5b660a3c4f",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"type\", \"type\": \"Sensor\"}",
        "payloadType": "json",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "90104532dd3eeaad"
            ]
        ]
    },
    {
        "id": "eed9a8b0532bd897",
        "type": "inject",
        "z": "49b801ab6c13addc",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"actionType\": \"type\"}",
        "payloadType": "json",
        "x": 220,
        "y": 540,
        "wires": [
            [
                "4c71393a370df32a"
            ]
        ]
    },
    {
        "id": "4c71393a370df32a",
        "type": "NGSI Types",
        "z": "49b801ab6c13addc",
        "name": "",
        "openapis": "f416c88d082ae970",
        "servicepath": "/",
        "actionType": "payload",
        "entityType": "Sensor",
        "values": "false",
        "noAttrDetail": "false",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "224cbfbdf9cde428"
            ]
        ]
    },
    {
        "id": "f416c88d082ae970",
        "type": "Open APIs",
        "name": "orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    }
]
