test/e2e/e2e-flows.json
[
  {
    "id": "d547cb2b531f79a4",
    "type": "tab",
    "label": "フロー 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7462ad7d2586f1cd",
    "type": "FIWARE version",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "x": 540,
    "y": 40,
    "wires": [["d931d17e0c9b3743"]]
  },
  {
    "id": "9445973da5bcf702",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/orion-version",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 40,
    "wires": [["7462ad7d2586f1cd"]]
  },
  {
    "id": "d931d17e0c9b3743",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 40,
    "wires": []
  },
  {
    "id": "e428f80f1fc47956",
    "type": "NGSI Entity",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "create",
    "entityId": "",
    "entityType": "",
    "attrs": "",
    "keyValues": "false",
    "dateModified": "false",
    "x": 530,
    "y": 260,
    "wires": [["02e47d01e0f57f59"]]
  },
  {
    "id": "4328d8f1ace48ddc",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/create-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 260,
    "wires": [["e428f80f1fc47956"]]
  },
  {
    "id": "02e47d01e0f57f59",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 260,
    "wires": []
  },
  {
    "id": "bdc5079d7ed6f464",
    "type": "NGSI Entity",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "read",
    "entityId": "",
    "entityType": "",
    "attrs": "",
    "keyValues": "false",
    "dateModified": "false",
    "x": 530,
    "y": 320,
    "wires": [["a0a6e362372e4be6"]]
  },
  {
    "id": "9915cfcefc1612e6",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/read-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 320,
    "wires": [["bdc5079d7ed6f464"]]
  },
  {
    "id": "a0a6e362372e4be6",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 320,
    "wires": []
  },
  {
    "id": "d261781282049c72",
    "type": "NGSI Entity",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "upsert",
    "entityId": "",
    "entityType": "",
    "attrs": "",
    "keyValues": "false",
    "dateModified": "false",
    "x": 530,
    "y": 380,
    "wires": [["9522c60486cf6a09"]]
  },
  {
    "id": "709d43f286874e2f",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/upsert-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 380,
    "wires": [["d261781282049c72"]]
  },
  {
    "id": "9522c60486cf6a09",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 380,
    "wires": []
  },
  {
    "id": "4d4411fee36932cc",
    "type": "NGSI Entity",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "delete",
    "entityId": "",
    "entityType": "",
    "attrs": "",
    "keyValues": "false",
    "dateModified": "false",
    "x": 530,
    "y": 440,
    "wires": [["fc25f7db8b4f239e"]]
  },
  {
    "id": "770cd9a511e6ddb3",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/delete-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 440,
    "wires": [["4d4411fee36932cc"]]
  },
  {
    "id": "fc25f7db8b4f239e",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 440,
    "wires": []
  },
  {
    "id": "45e1a733a9184365",
    "type": "NGSI Entity",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "entityId": "",
    "entityType": "",
    "attrs": "",
    "keyValues": "false",
    "dateModified": "false",
    "x": 530,
    "y": 500,
    "wires": [["8592a3562172d2f4"]]
  },
  {
    "id": "2e0bb7aeadb57475",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 500,
    "wires": [["45e1a733a9184365"]]
  },
  {
    "id": "8592a3562172d2f4",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 500,
    "wires": []
  },
  {
    "id": "7752a9d11130dd37",
    "type": "NGSI source",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "mode": "normalized",
    "entitytype": "",
    "idpattern": "",
    "attrs": "",
    "query": "",
    "buffering": "off",
    "x": 530,
    "y": 600,
    "wires": [["0973f0f22b47bd06"]]
  },
  {
    "id": "0973f0f22b47bd06",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 600,
    "wires": []
  },
  {
    "id": "ce87942738a6a799",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/source",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 600,
    "wires": [["7752a9d11130dd37"]]
  },
  {
    "id": "252fcb23bf58f0d8",
    "type": "FIWARE version",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "08da8d403248f1ff",
    "x": 540,
    "y": 100,
    "wires": [["2e413a0b22d95f6a"]]
  },
  {
    "id": "e00f27fc3d8267a5",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/comet-version",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 100,
    "wires": [["252fcb23bf58f0d8"]]
  },
  {
    "id": "2e413a0b22d95f6a",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 100,
    "wires": []
  },
  {
    "id": "8464de3ea72d23d0",
    "type": "FIWARE version",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "5e51d077430f5147",
    "x": 540,
    "y": 160,
    "wires": [["2c9bbcb534656e20"]]
  },
  {
    "id": "63d40ca2a47f2546",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/quantumleap-version",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 160,
    "wires": [["8464de3ea72d23d0"]]
  },
  {
    "id": "2c9bbcb534656e20",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 160,
    "wires": []
  },
  {
    "id": "04c87a700a01caa2",
    "type": "NGSI Attributes",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "append",
    "entityId": "urn:ngsi-ld:entity:301",
    "entityType": "",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 700,
    "wires": [["837e299d720126e0"]]
  },
  {
    "id": "ca05ef1b4f0f43e3",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/append-attributes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 700,
    "wires": [["04c87a700a01caa2"]]
  },
  {
    "id": "837e299d720126e0",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 700,
    "wires": []
  },
  {
    "id": "1cf4c23b73b09965",
    "type": "NGSI Attributes",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "update",
    "entityId": "urn:ngsi-ld:entity:301",
    "entityType": "",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 760,
    "wires": [["58db4edf341818f7"]]
  },
  {
    "id": "8e48946e4fb10af0",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/update-attributes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 760,
    "wires": [["1cf4c23b73b09965"]]
  },
  {
    "id": "58db4edf341818f7",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 760,
    "wires": []
  },
  {
    "id": "afcf96ca10453644",
    "type": "NGSI Attributes",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "upsert",
    "entityId": "urn:ngsi-ld:entity:301",
    "entityType": "",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 820,
    "wires": [["e01e1e9fe739080f"]]
  },
  {
    "id": "839ef0212448a910",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/upsert-attributes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 820,
    "wires": [["afcf96ca10453644"]]
  },
  {
    "id": "e01e1e9fe739080f",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 820,
    "wires": []
  },
  {
    "id": "45229febbc93b918",
    "type": "NGSI Attributes",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "replace",
    "entityId": "urn:ngsi-ld:entity:301",
    "entityType": "",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 880,
    "wires": [["0f5af87040df88ce"]]
  },
  {
    "id": "253475be00e2018a",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/replace-attributes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 880,
    "wires": [["45229febbc93b918"]]
  },
  {
    "id": "0f5af87040df88ce",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 880,
    "wires": []
  },
  {
    "id": "db505c6942443334",
    "type": "NGSI Attributes",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "entityId": "",
    "entityType": "",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 940,
    "wires": [["db1f41365745053c"]]
  },
  {
    "id": "50b4daaa27e4bd0d",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-attributes",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 940,
    "wires": [["db505c6942443334"]]
  },
  {
    "id": "db1f41365745053c",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 940,
    "wires": []
  },
  {
    "id": "92330a91bff77e9a",
    "type": "NGSI Attribute",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "read",
    "entityId": "",
    "entityType": "",
    "attrName": "",
    "metadata": "",
    "skipForwarding": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 1040,
    "wires": [["45a764fda62eb6bb"]]
  },
  {
    "id": "2b9a71171aa4d4e5",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/read-attribute",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 1040,
    "wires": [["92330a91bff77e9a"]]
  },
  {
    "id": "45a764fda62eb6bb",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1040,
    "wires": []
  },
  {
    "id": "c202346aa8a5c777",
    "type": "NGSI Attribute",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "update",
    "entityId": "urn:ngsi-ld:Thing:401",
    "entityType": "",
    "attrName": "temperature",
    "metadata": "",
    "skipForwarding": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 1100,
    "wires": [["516d01a72db8a71d"]]
  },
  {
    "id": "78fd9a35cbaf3067",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/update-attribute",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 1100,
    "wires": [["c202346aa8a5c777"]]
  },
  {
    "id": "516d01a72db8a71d",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1100,
    "wires": []
  },
  {
    "id": "29fcfe53fa441b24",
    "type": "NGSI Attribute",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "delete",
    "entityId": "",
    "entityType": "",
    "attrName": "",
    "metadata": "",
    "skipForwarding": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 1160,
    "wires": [["91d29a96abecad12"]]
  },
  {
    "id": "549fb651d398e71f",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/delete-attribute",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 1160,
    "wires": [["29fcfe53fa441b24"]]
  },
  {
    "id": "91d29a96abecad12",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1160,
    "wires": []
  },
  {
    "id": "25042f88ce94bb0c",
    "type": "NGSI Attribute",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "entityId": "",
    "entityType": "",
    "attrName": "",
    "metadata": "",
    "skipForwarding": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 540,
    "y": 1220,
    "wires": [["6882d0df27bcbee9"]]
  },
  {
    "id": "bd72c8dcabc80f9d",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-attribute",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 1220,
    "wires": [["25042f88ce94bb0c"]]
  },
  {
    "id": "6882d0df27bcbee9",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1220,
    "wires": []
  },
  {
    "id": "f22a8f2dd60f70d3",
    "type": "NGSI Attribute value",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "read",
    "entityId": "",
    "entityType": "",
    "attrName": "",
    "skipForwarding": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 560,
    "y": 1320,
    "wires": [["046c64be4a66c177"]]
  },
  {
    "id": "9a4f206c7567cdf2",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/read-attribute-value",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 1320,
    "wires": [["f22a8f2dd60f70d3"]]
  },
  {
    "id": "046c64be4a66c177",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1320,
    "wires": []
  },
  {
    "id": "e2bc5686b3c3f92f",
    "type": "NGSI Attribute value",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "update",
    "entityId": "urn:ngsi-ld:Thing:501",
    "entityType": "",
    "attrName": "attr6",
    "skipForwarding": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 560,
    "y": 1380,
    "wires": [["3b6ccf4bb69d868f"]]
  },
  {
    "id": "698a2e443f46d250",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/update-attribute-value",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 260,
    "y": 1380,
    "wires": [["e2bc5686b3c3f92f"]]
  },
  {
    "id": "3b6ccf4bb69d868f",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1380,
    "wires": []
  },
  {
    "id": "62f618189e515b19",
    "type": "NGSI Attribute value",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "entityId": "",
    "entityType": "",
    "attrName": "",
    "skipForwarding": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 560,
    "y": 1440,
    "wires": [["91ceb9ba5d83b0ec"]]
  },
  {
    "id": "6c359dd776d0e7e7",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-attribute-value",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 260,
    "y": 1440,
    "wires": [["62f618189e515b19"]]
  },
  {
    "id": "91ceb9ba5d83b0ec",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1440,
    "wires": []
  },
  {
    "id": "ec4f7f3d03894114",
    "type": "NGSI Batch update",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "append",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 550,
    "y": 1560,
    "wires": [["80ddaeaa21a4ffcd"]]
  },
  {
    "id": "52dd0959e9431fa6",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/batch-append",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 1560,
    "wires": [["ec4f7f3d03894114"]]
  },
  {
    "id": "80ddaeaa21a4ffcd",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1560,
    "wires": []
  },
  {
    "id": "a273d65fcdccd3bd",
    "type": "NGSI Batch update",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "appendStrict",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 550,
    "y": 1620,
    "wires": [["85679e1ab307df5e"]]
  },
  {
    "id": "82bb1437b9f18330",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/batch-appendStrict",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 1620,
    "wires": [["a273d65fcdccd3bd"]]
  },
  {
    "id": "85679e1ab307df5e",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1620,
    "wires": []
  },
  {
    "id": "2579ad132d0e83bf",
    "type": "NGSI Batch update",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "update",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 550,
    "y": 1680,
    "wires": [["1b96978944595676"]]
  },
  {
    "id": "cdd95fbabb9ebbaa",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/batch-update",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 1680,
    "wires": [["2579ad132d0e83bf"]]
  },
  {
    "id": "1b96978944595676",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1680,
    "wires": []
  },
  {
    "id": "0a265e4afd7cc84f",
    "type": "NGSI Batch update",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "replace",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 550,
    "y": 1740,
    "wires": [["78e682d4fd4c8482"]]
  },
  {
    "id": "92899ac69e85fd5e",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/batch-replace",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 1740,
    "wires": [["0a265e4afd7cc84f"]]
  },
  {
    "id": "78e682d4fd4c8482",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1740,
    "wires": []
  },
  {
    "id": "db7632f7d0bed759",
    "type": "NGSI Batch update",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "delete",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 550,
    "y": 1800,
    "wires": [["3ef3afa3b0dd5a42"]]
  },
  {
    "id": "1ca1ddd702e71925",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/batch-delete",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 1800,
    "wires": [["db7632f7d0bed759"]]
  },
  {
    "id": "3ef3afa3b0dd5a42",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1800,
    "wires": []
  },
  {
    "id": "b8457cb60ef5f8df",
    "type": "NGSI Batch update",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "keyValues": "false",
    "overrideMetadata": "false",
    "forcedUpdate": "false",
    "flowControl": "false",
    "x": 550,
    "y": 1860,
    "wires": [["fc0e31ff3fc3b83f"]]
  },
  {
    "id": "3656a1734ea789ea",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-batch",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 1860,
    "wires": [["b8457cb60ef5f8df"]]
  },
  {
    "id": "fc0e31ff3fc3b83f",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 810,
    "y": 1860,
    "wires": []
  },
  {
    "id": "17f42349ba572886",
    "type": "NGSI subscription",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "create",
    "entityType": "",
    "idPattern": "",
    "watchedAttrs": "",
    "query": "",
    "url": "",
    "attrs": "",
    "attrsFormat": "",
    "x": 550,
    "y": 1960,
    "wires": [["e8bed3b7c9b639f7"]]
  },
  {
    "id": "38268fc102898221",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/create-subscription",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 1960,
    "wires": [["17f42349ba572886"]]
  },
  {
    "id": "e8bed3b7c9b639f7",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 1960,
    "wires": []
  },
  {
    "id": "5c60b670f01652e9",
    "type": "NGSI subscription",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "update",
    "entityType": "",
    "idPattern": "",
    "watchedAttrs": "",
    "query": "",
    "url": "",
    "attrs": "",
    "attrsFormat": "",
    "x": 550,
    "y": 2020,
    "wires": [["7218aa446be20515"]]
  },
  {
    "id": "045680ddbdd9df70",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/update-subscription",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 2020,
    "wires": [["5c60b670f01652e9"]]
  },
  {
    "id": "7218aa446be20515",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2020,
    "wires": []
  },
  {
    "id": "ffa57644ebb47b47",
    "type": "NGSI subscription",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "delete",
    "entityType": "",
    "idPattern": "",
    "watchedAttrs": "",
    "query": "",
    "url": "",
    "attrs": "",
    "attrsFormat": "",
    "x": 550,
    "y": 2080,
    "wires": [["c87c6e4a4cf82894"]]
  },
  {
    "id": "d1595d28df3577bd",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/delete-subscription",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 2080,
    "wires": [["ffa57644ebb47b47"]]
  },
  {
    "id": "c87c6e4a4cf82894",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2080,
    "wires": []
  },
  {
    "id": "c8953f6b1ab2e45d",
    "type": "NGSI subscription",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "entityType": "",
    "idPattern": "",
    "watchedAttrs": "",
    "query": "",
    "url": "",
    "attrs": "",
    "attrsFormat": "",
    "x": 550,
    "y": 2140,
    "wires": [["2f9a79c149a328ed"]]
  },
  {
    "id": "ff951d4df58fc277",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-subscription",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 2140,
    "wires": [["c8953f6b1ab2e45d"]]
  },
  {
    "id": "2f9a79c149a328ed",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2140,
    "wires": []
  },
  {
    "id": "6d40f1d04d55893d",
    "type": "NGSI Types",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "types",
    "entityType": "",
    "values": "false",
    "noAttrDetail": "false",
    "x": 530,
    "y": 2440,
    "wires": [["2ccef0d90b62e61e"]]
  },
  {
    "id": "c5613b50d6871a59",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/types",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 2440,
    "wires": [["6d40f1d04d55893d"]]
  },
  {
    "id": "2ccef0d90b62e61e",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2440,
    "wires": []
  },
  {
    "id": "fc54b34fd99e8401",
    "type": "NGSI Types",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "type",
    "entityType": "",
    "values": "false",
    "noAttrDetail": "false",
    "x": 530,
    "y": 2500,
    "wires": [["b8248858444e29df"]]
  },
  {
    "id": "f640d322e84db6a6",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/types-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 2500,
    "wires": [["fc54b34fd99e8401"]]
  },
  {
    "id": "b8248858444e29df",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2500,
    "wires": []
  },
  {
    "id": "7ce56e946923246f",
    "type": "NGSI Types",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "entityType": "",
    "values": "false",
    "noAttrDetail": "false",
    "x": 530,
    "y": 2560,
    "wires": [["d44478b3f3f874f1"]]
  },
  {
    "id": "de4cd14a60e435ce",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-types",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 2560,
    "wires": [["7ce56e946923246f"]]
  },
  {
    "id": "d44478b3f3f874f1",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2560,
    "wires": []
  },
  {
    "id": "305d7b9be459a8c6",
    "type": "NGSI registration",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "create",
    "registrationId": "",
    "x": 550,
    "y": 2220,
    "wires": [["f86ec6ae8825890e"]]
  },
  {
    "id": "8cf4e4d2a5c46fbb",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/create-registration",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 2220,
    "wires": [["305d7b9be459a8c6"]]
  },
  {
    "id": "f86ec6ae8825890e",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2220,
    "wires": []
  },
  {
    "id": "46e6b7ab91967105",
    "type": "NGSI registration",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "delete",
    "registrationId": "",
    "x": 550,
    "y": 2280,
    "wires": [["4e4c2f35976dea31"]]
  },
  {
    "id": "dd8b0b764aec6069",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/delete-registration",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 2280,
    "wires": [["46e6b7ab91967105"]]
  },
  {
    "id": "4e4c2f35976dea31",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2280,
    "wires": []
  },
  {
    "id": "756c71d7b21f73cc",
    "type": "NGSI registration",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "6f41837acabf55a7",
    "servicepath": "/",
    "actionType": "payload",
    "registrationId": "",
    "x": 550,
    "y": 2340,
    "wires": [["33ceeb61b9ee3af6"]]
  },
  {
    "id": "82079b4e54adb181",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/payload-registration",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 250,
    "y": 2340,
    "wires": [["756c71d7b21f73cc"]]
  },
  {
    "id": "33ceeb61b9ee3af6",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2340,
    "wires": []
  },
  {
    "id": "44049840d528d407",
    "type": "NGSI Encode",
    "z": "d547cb2b531f79a4",
    "name": "",
    "x": 540,
    "y": 2660,
    "wires": [["6f45246624a45d00"]]
  },
  {
    "id": "fca6a58045d000f8",
    "type": "NGSI Decode",
    "z": "d547cb2b531f79a4",
    "name": "",
    "x": 540,
    "y": 2720,
    "wires": [["aa157ca8c765ee51"]]
  },
  {
    "id": "9e0ed6f755d7f533",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/encode",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 2660,
    "wires": [["44049840d528d407"]]
  },
  {
    "id": "e84a6a72789fb3f2",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/decode",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 2720,
    "wires": [["fca6a58045d000f8"]]
  },
  {
    "id": "6f45246624a45d00",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2660,
    "wires": []
  },
  {
    "id": "aa157ca8c765ee51",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 830,
    "y": 2720,
    "wires": []
  },
  {
    "id": "9840dce1e030829a",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/gtfs-ngsi",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 2800,
    "wires": [["dade5b4bfc379762"]]
  },
  {
    "id": "a088ae962d4b5a0e",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 2800,
    "wires": []
  },
  {
    "id": "dade5b4bfc379762",
    "type": "GTFS Realtime to NGSI",
    "z": "d547cb2b531f79a4",
    "name": "",
    "x": 570,
    "y": 2800,
    "wires": [["a088ae962d4b5a0e"]]
  },
  {
    "id": "f54eb8eadeab3823",
    "type": "NGSI to worldmap",
    "z": "d547cb2b531f79a4",
    "name": "",
    "attrname": "name",
    "attrworldmap": "__worldmap__",
    "x": 550,
    "y": 2860,
    "wires": [["154c1c469abe65df"]]
  },
  {
    "id": "28dea23c92f73409",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/ngsi-worldmap",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 2860,
    "wires": [["f54eb8eadeab3823"]]
  },
  {
    "id": "154c1c469abe65df",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 2860,
    "wires": []
  },
  {
    "id": "e7e63fffbc19d051",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/ngsi-dashboard",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 2920,
    "wires": [["2bbf427bd146f646"]]
  },
  {
    "id": "3faf1e4383681daa",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 2920,
    "wires": []
  },
  {
    "id": "fae6b008dbfa9b3c",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/openweathermap-ngsi",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 260,
    "y": 2980,
    "wires": [["e12d028b96e7b42b"]]
  },
  {
    "id": "3490cb3be21aa6d0",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 2980,
    "wires": []
  },
  {
    "id": "2bbf427bd146f646",
    "type": "NGSI to dashboard",
    "z": "d547cb2b531f79a4",
    "name": "",
    "inputType": "entity",
    "attrs": "temperature",
    "names": "",
    "x": 550,
    "y": 2920,
    "wires": [["3faf1e4383681daa"]]
  },
  {
    "id": "f621971334b62251",
    "type": "OpenWeatherMap to NGSI",
    "z": "d547cb2b531f79a4",
    "name": "",
    "x": 580,
    "y": 2980,
    "wires": [["3490cb3be21aa6d0"]]
  },
  {
    "id": "11ca801776165eed",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/historical-raw",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 3140,
    "wires": [["f6e0a9b302d1bc35"]]
  },
  {
    "id": "ad3ea1c538909ef7",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 3140,
    "wires": []
  },
  {
    "id": "f6e0a9b302d1bc35",
    "type": "Historical Context",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "08da8d403248f1ff",
    "servicepath": "/",
    "entityid": "",
    "attrname": "",
    "entitytype": "",
    "datatype": "raw",
    "lastn": "",
    "hlimit": "",
    "hoffset": "",
    "aggrperiod": "month",
    "datefrom": "",
    "fromunit": "ISO8601",
    "dateto": "",
    "tounit": "ISO8601",
    "outputtype": "value",
    "count": "false",
    "x": 550,
    "y": 3140,
    "wires": [["ad3ea1c538909ef7"]]
  },
  {
    "id": "ae7ebf1d1fe1b981",
    "type": "http in",
    "z": "d547cb2b531f79a4",
    "name": "",
    "url": "/timeseries-entity",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 3220,
    "wires": [["643cf2f9ce18af26"]]
  },
  {
    "id": "989f65a209a491cb",
    "type": "http response",
    "z": "d547cb2b531f79a4",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 850,
    "y": 3220,
    "wires": []
  },
  {
    "id": "643cf2f9ce18af26",
    "type": "NGSI timeseries",
    "z": "d547cb2b531f79a4",
    "name": "",
    "openapis": "5e51d077430f5147",
    "servicepath": "/",
    "actionType": "entities",
    "entityId": "",
    "entityType": "",
    "attribute": "",
    "aggrMethod": "sum",
    "aggrPeriod": "month",
    "lastN": "",
    "fromDate": "",
    "fromUnit": "ISO8601",
    "toDate": "",
    "toUnit": "ISO8601",
    "georel": "",
    "geometry": "",
    "coords": "",
    "value": "false",
    "limit": "",
    "offset": "",
    "x": 540,
    "y": 3220,
    "wires": [["989f65a209a491cb"]]
  },
  {
    "id": "e12d028b96e7b42b",
    "type": "change",
    "z": "d547cb2b531f79a4",
    "name": "",
    "rules": [
      {
        "t": "move",
        "p": "payload",
        "pt": "msg",
        "to": "data",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 3040,
    "wires": [["f621971334b62251"]]
  },
  {
    "id": "6f41837acabf55a7",
    "type": "Open APIs",
    "name": "orion",
    "geType": "orion",
    "apiEndpoint": "http://localhost:1026",
    "service": "",
    "idmEndpoint": "",
    "idmType": "none"
  },
  {
    "id": "08da8d403248f1ff",
    "type": "Open APIs",
    "name": "sth-comet",
    "geType": "comet",
    "apiEndpoint": "http://localhost:8666",
    "service": "",
    "idmEndpoint": "",
    "idmType": "none"
  },
  {
    "id": "5e51d077430f5147",
    "type": "Open APIs",
    "name": "quantumleap",
    "geType": "orion",
    "apiEndpoint": "http://localhost:8668",
    "service": "",
    "idmEndpoint": "",
    "idmType": "none"
  }
]
